{% include base_path %}

{% if post.header.teaser %}
  {% capture teaser %}{{ post.header.teaser }}{% endcapture %}
{% else %}
  {% assign teaser = site.teaser %}
{% endif %}

{% if post.id %}
  {% assign title = post.title | markdownify | remove: "<p>" | remove: "</p>" %}
{% else %}
  {% assign title = post.title %}
{% endif %}

<div class="{{ include.type | default: "list" }}__item">
  <article class="archive__item" itemscope itemtype="http://schema.org/CreativeWork">
    {% if include.type == "grid" and teaser %}
      <div class="archive__item-teaser">
        <img src=
          {% if teaser contains "://" %}
            "{{ teaser }}"
          {% else %}
            "{{ teaser | prepend: "/images/" | prepend: base_path }}"
          {% endif %}
          alt="">
      </div>
    {% endif %}

    <h2 class="archive__item-title" itemprop="headline">
      {% if post.link %}
        <a href="{{ post.link }}">{{ title }}</a> <a href="{{ base_path }}{{ post.url }}" rel="permalink"><i class="fa fa-link" aria-hidden="true" title="permalink"></i><span class="sr-only">Permalink</span></a>
      {% else %}
        <a href="{{ base_path }}{{ post.url }}" rel="permalink">{{ title }}</a>
      {% endif %}
    </h2>
    
    {% if post.read_time %}
      <p class="page__meta"><i class="fa fa-clock-o" aria-hidden="true"></i> {% include read-time.html %}</p>
    {% endif %}

        {% if post.collection == 'teaching' %}
          <p> {{ post.type }}, <i>{{ post.venue }}</i>, {{ post.date | default: "1900-01-01" | date: "%Y" }} </p>
        {% elsif post.collection == 'publications' %}
          <p>Published in <i>{{ post.venue }}</i>, {{ post.date | default: "1900-01-01" | date: "%B %d, %Y" }} </p>
          {% elsif post.collection == 'talks' %}
          <p>Published in <i>{{ post.venue }}</i>, {{ post.date | default: "1900-01-01" | date: "%B %d, %Y" }} </p>
          {% elsif post.date %}
         <p class="page__date"><strong><i class="fa fa-fw fa-calendar" aria-hidden="true"></i> {{ site.data.ui-text[site.locale].date_label | default: "Published:" }}</strong> <time datetime="{{ post.date | default: "1900-01-01" | date_to_xmlschema }}">{{ post.date | default: "1900-01-01" | date: "%B %d, %Y" }}</time></p>
        {% endif %}

        <!-- 添加speaker的信息 -->
        {% if post.speaker %}                   
          <p> Speaker: {{ post.speaker }} </p>
   {% endif %}     
      

    {% if post.excerpt and site.read_more != 'enabled' %}
    <p class="archive__item-excerpt" itemprop="description">{{ post.excerpt | markdownify }}</p>
    {% elsif post.excerpt and site.read_more == 'enabled' %}
    <p class="archive__item-excerpt" itemprop="description"><p>{{ post.excerpt | markdownify | remove: '<p>' | remove: '</p>' }}<strong><a href="{{ base_path }}{{ post.url }}" rel="permalink"> Read more</a></strong></p></p>
    {% endif %}
    
    {% if post.citation and post.paperurl and post.slidesurl %}
      <p>Recommended citation: {{ post.citation }}<br /><a href="{{ post.paperurl }}">Download Paper</a> | <a href="{{ post.slidesurl }}">Download Slides</a></p>
    {% elsif post.citation and post.paperurl %}
      <p>Recommended citation: {{ post.citation }}<br /><a href="{{ post.paperurl }}">Download Paper</a></p>
    {% elsif post.citation and post.slidesurl %}
      <p>Recommended citation: {{ post.citation }}<br /><a href="{{ post.slidesurl }}">Download Slides</a></p>
    {% elsif post.citation %}
      <p>Recommended citation: {{ post.citation }}</p>
    {% elsif post.paperurl %}
      <p><a href=" {{ post.paperurl }} ">Download Paper</a></p>
    {% elsif post.slidesurl %}
      <p>Download <a href="{{ post.slidesurl }}">Download Slides</a></p></p>
    {% endif %}

  <!-- 提供上传pdf和可供读者下载note的链接 -->
    {% if post.notes1url %}  
    <p><a href="{{ post.notes1url }}"> Note 1 </a></p>
    {% endif %}

    {% if post.notes2url %}  
    <p><a href="{{ post.notes2url }}"> Note 2 </a></p>
    {% endif %}

    {% if post.notes3url %}  
    <p><a href="{{ post.notes3url }}"> Note 3 </a></p>
    {% endif %}

    
    {% if post.notes4url %}  
    <p><a href="{{ post.notes4url }}"> Note 4 </a></p>
    {% endif %}

    {% if post.notes5url %}  
    <p><a href="{{ post.notes5url }}"> Note 5 </a></p>
    {% endif %}

<!-- Deformation theory 部分 -->


    {% if post.Kodaira_bookurl %}  
    <p><a href="{{ post.Kodaira_bookurl }}"> K. Kodaira - Complex Manifolds and Deformation of Complex Structures  </a></p>
    {% endif %}


    {% if post.Kodaira_Spencer1url %}  
    <p><a href="{{ post.Kodaira_Spencer1url }}"> Kodaira-Spencer  On Deformations of Complex Analytic Structures I </a></p>
    {% endif %}

    {% if post.Kodaira_Spencer2url %}  
    <p><a href="{{ post.Kodaira_Spencer2url }}"> Kodaira-Spencer  On Deformations of Complex Analytic Structures II </a></p>
    {% endif %}
   
  {% if post.Kodaira_Spencer3url %}  
    <p><a href="{{ post.Kodaira_Spencer3url }}"> Kodaira-Spencer  On the Existence of Deformations of Complex Analytic Structures </a></p>
    {% endif %}

{% if post.def_of_schemesurl %}  
    <p><a href="{{ post.def_of_schemesurl }}"> Gao_Deformation of schemes  </a></p>
    {% endif %}

    {% if post.def_of_algurl %}  
    <p><a href="{{ post.def_of_algurl }}"> Tan_Deformation of associative algebras and Hochschild (co)homology  </a></p>
    {% endif %}


    <!-- Mirror P=W 部分 -->

    {% if post.MHSurl %}  
    <p><a href="{{ post.MHSurl }}"> Mixed Hodge Structure </a></p>
    {% endif %}

{% if post.perverseurl %}  
    <p><a href="{{ post.peverseurl }}"> Perverse Sheaf </a></p>
    {% endif %}

    {% if post.pwurl%}  
    <p><a href="{{ post.pwurl }}"> Mirror P=W </a></p>
    {% endif %}


  <!-- papers -->
{% if post.seidelGrassurl%}  
    <p><a href="{{ post.seidelGrassurl }}"> On Seidel representation in Quantum K theory of Grassmannians </a></p>
    {% endif %}

{% if post.smallqchurl%}  
    <p><a href="{{ post.smallqchurl }}">  Towards small quantum Chern Character </a></p>
    {% endif %}

{% if post.QSCdiv%}  
    <p><a href="{{ post.QSCdiv }}">  Quantum Schubert calculus for smooth Schubert divisors of complete flag variety </a></p>
    {% endif %}

  </article>
</div>
